.padded {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.padding-bottom {
  padding-bottom: 4rem;
}

.value-icon {
  width: 100px;
  padding-bottom: 10px;
}

.text-extrabold {
  font-weight: 700;
}

.value-description {
  margin-right: 20px;
}

.homepage-hero-full .overlay-grey,
.homepage-hero-full>img,
.homepage-hero-full>video {
  clip-path: inset(0);
}

.sp-swiper {

  .swiper-slide {
    height: auto !important; // override inline styles if needed
  }

  .stats-card {
    height: 100%;


  }

  h4 {
    font-size: 1.2rem;
    color: #0468B1;
    transition: color 0.2s ease; // optional, for smooth effect
  }

  .stats-card:hover {
    background-color: #0468B1;
    color: white;

    h4 {
      color: white;
    }
  }
}

.stats-card.small {
  min-width: 95%;
  min-height: 20vh;
  padding: var(--undpds-spacing-09);
}

@media screen and (max-width: 640px) {
  .stats-card.small {
    max-width: 70%;
    min-width: unset;
    /* optional: so it doesn’t force 95% on mobile */
  }
}


.stats-slider {
  padding-right: 0px;
}

.value-icon {
  display: block;
  margin: 0 auto;
}

.grid-x .value-description {
  text-align: center;
}


.futuresmart-bg {
  background-image: url('../img/futuresmart-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* Mobile / small screen version */
@media (max-width: 639px) {
  .futuresmart-bg {
    background-color: #111A57;
    background-image: none;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.value-bg {
  background-image: url('../img/value-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
}


@media (min-width: 1440px) {
  .unds-highlights {
    background-image: url('../img/blue-gradient-circle.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: border-box;
    background-clip: border-box;
    margin-left: -25vw;
    padding-left: 25vw;
    padding-right: 10vw;
  }
}

.center-text {
  text-align: center;
}

@media screen and (max-width: 639px) {
  .center-text-mobile {
    text-align: center;
  }
}


.looking-ahead-bg {
  background-image: url('../img/looking-ahead-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;

}

/* Mobile / small screen version */
@media (max-width: 639px) {
  .looking-ahead-bg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.partners-bg {
  background-image: url('../img/partners-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (max-width: 639px) {
  .partners-bg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.partnership-cta-bg {
  background-image: url('../img/partnership-cta-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: white;
}

@media (max-width: 639px) {
  .partnership-cta-bg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.goal-bg {
  background-image: url('../img/goal-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* Mobile / small screen version */
@media (max-width: 639px) {
  .goal-bg {
    background-image: url('../img/goal-bg-mobile.jpg');
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}




.tabs-title {
  padding-right: 20px;
}

.tab-icon {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 8px;
}

.tabs>ul li.is-active.tab-digital {
  border-bottom: 2px solid #262261;
}

.tabs>ul li.is-active.tab-gender {
  border-bottom: 2px solid #5170FF;
}

.tabs>ul li.is-active.tab-finance {
  border-bottom: 2px solid #00ADEE;
}



// ********************** Clickable tiles **********************
$pill-gap: 1rem;
$pill-radius: 0rem;
$pill-pad: clamp(1rem, 2vw, 1.5rem);
$text: #fff;

.pillars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $pill-gap;
  margin: 0 auto;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.pillar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $pill-pad;
  border-radius: $pill-radius;
  color: $text;
  text-decoration: none;
  min-height: 220px; // ensures even height
  overflow: hidden;

  // remove hover lift
  transition: none;

  // Override global <a> hover animation
  &:hover,
  &:focus,
  &:active {
    animation: none !important;

    transform: none !important;
    box-shadow: none !important;

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    filter: brightness(110%);
    transition: box-shadow 0.2s, filter 0.2s;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(1.2rem, 1.4vw + .6rem, 1.6rem);
    line-height: 1.2;
    padding-bottom: 20px;
  }

  .cta {
    margin-top: .5rem;
    font-size: clamp(.9rem, .35vw + .85rem, 1rem);
    font-weight: 500;
    //text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 10px;

  }

  .cta:hover {
    animation: lineLoop-animation 2s linear infinite;
  }
}


.pillar-icon {
  position: absolute;
  top: $pill-pad;
  right: $pill-pad;
  width: 55px;
  height: 55px;
  object-fit: contain;
  pointer-events: none;
}

// Pillar gradients
$pillar-gradients: (
  prosperity: linear-gradient(135deg, #F72585 0%, #B5179E 100%),
  governance: linear-gradient(135deg, #3c9dff 0%, #0163c5 100%),
  resilience: linear-gradient(135deg, #FB8500 0%, #FFB703 100%),
  planet: linear-gradient(135deg, #8dc63f 0%, #1d7521 100%),
  digital: linear-gradient(135deg, #262261 0%, #1c3d87 100%),
  gender: linear-gradient(135deg, #5170ff 0%, #51bdff 100%),
  finance: linear-gradient(135deg, #13a2d6 0%, #0ae1e9 100%)
);

@each $name, $gradient in $pillar-gradients {
  .pillar--#{$name} {
    background: $gradient;
  }
}

.pillar {
  .cta__link {
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  a.cta-link::after {
    color: white;
  }


}

.cta__link.cta--space:after {
background: url(../img/arrow-left.svg) no-repeat 0;
transition: .2s ease;
}


// ********************** Clickable tiles end **********************

html {
  scroll-behavior: smooth;
}

// ***************+


.highlight-logo {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
}

.highlight-title {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.25rem;
}


/* Utility class for mobile image centering */
@media screen and (max-width: 639px) {
  .highlight-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}


.countries {
  color: white;
  position: relative;
  padding: 10rem 0rem;
  background-image: url('../img/countries-bg.jpg');
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;

  .accordion {
    background-color: transparent;

    li button {
      font-size: 1.563rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.15;
      margin: 0 auto;
      padding: 1.8rem 0;
      text-align: left;
      width: 100%;
      color: white;
      text-transform: none;
    }

    .accordion__panel {
      li {
        line-height: 1.2;
        margin-top: 5%;
        display: block;
        border: none;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {

  /* Foundation small-only */
  .countries {
    background-color: #111A57;
    background-image: none;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.sp-select {
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='red' ... ></svg>") no-repeat right 0.75rem center/1rem;
}


.mobile-links a {
  background-image: none;
  background-position: initial;
  background-repeat: initial;
  background-size: initial;
  font-size: var(--undpds-font-size-16);
  font-weight: 700;
  letter-spacing: .03rem;
  line-height: 1.15;
  text-transform: uppercase;

}

.dropdown-language ul li a {
  white-space: nowrap;
}

@media(max-width: 47.9375em) {
    .download-body {
        height: auto
    }
}