<footer class="footer">
  <div class="grid-x">
    <div class="cell medium-10 medium-offset-1">
      <div class="grid-x footer-top">
        <div class="cell medium-5">
          <div class="footer-logo">
            <a href="https://www.undp.org">
              

              <img src="{{@root.root}}assets/img/{{#ifequal lang "en"}}undp-logo-white.svg{{else}}pnud-logo-white.svg{{/ifequal}}"
                 alt="UNDP Logo" />

            </a>
            <h5 class="" tabindex="0" data-viewport="false">
             {{{footer.name}}}
            </h5>
          </div>
        </div>
        <div class="cell medium-5 show-large">
          <ul class="footer-icons">
             <li>
                <a href="{{{footer.facebook}}}" class="facebook" title="Facebook" target="_blank">facebook</a>
                </li>
                <li>
                <a href="{{{footer.linkedin}}}" class="linkedin" title="LinkedIn" target="_blank">linkedIn</a>
                </li>
                <li>
                <a href="{{{footer.instagram}}}" class="instagram" title="Instagram" target="_blank">instagram</a>
                </li>
                <li>
                <a href="{{{footer.twitter-x}}}" class="twitter-x" title="X" target="_blank">twitter</a>
                </li>
                <li>
                <a href="{{{footer.youtube}}}" class="youtube" title="Youtube" target="_blank">youtube</a>
          </ul>
        </div>
      </div>
      <div class="grid-x footer-bottom">
        <div class="cell medium-5">
          <p tabindex="0">{{{footer.copyright}}}</p>
        </div>
        <div class="cell medium-6">
          <ul class="footer-lists">
            <li><a href="{{{footer.terms-link}}}" target="_blank">{{{footer.terms}}}</a></li>
          </ul>
          <div class="show-small">
            <ul class="footer-icons">
                <li>
                <a href="{{{footer.facebook}}}" class="facebook" title="Facebook" target="_blank">facebook</a>
                </li>
                <li>
                <a href="{{{footer.linkedin}}}" class="linkedin" title="LinkedIn" target="_blank">linkedIn</a>
                </li>
                <li>
                <a href="{{{footer.instagram}}}" class="instagram" title="Instagram" target="_blank">instagram</a>
                </li>
                <li>
                <a href="{{{footer.twitter-x}}}" class="twitter-x" title="X" target="_blank">twitter</a>
                </li>
                <li>
                <a href="{{{footer.youtube}}}" class="youtube" title="Youtube" target="_blank">youtube</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/EasePack.min.js"></script>
<script src="{{@root.root}}assets/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/plugins/foundation.core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.4.6/js/language-switcher.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/plugins/foundation.tabs.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/plugins/viewport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.4.6/js/tabs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/navigation.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/download-modal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/animation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/modal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/docs/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.4.6/js/init.js" defer></script>

<!-- Add these in your meta.html or main layout file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system/dist/undp-design-system.min.js"></script>
