
<!--************************* Cover Hero *************************  -->

<div class="homepage-hero-full" data-undpds-component="expandToSize" data-selector=".homepage-hero-full">
  <div class="overlay-grey">
    <img src="{{@root.root}}assets/img/futuresmart-bg-cover.jpg" alt="abstract image" />
  </div>
  <div class="grid-x homepage-hero-content">
    <div class="cell large-7 medium-9 medium-offset-1">

      <nav aria-label="breadcrumbs" data-viewport="true" class="breadcrumb white"
        style="margin-top: -10%; padding-bottom: 15%;">
        <ul>
          <li><a href="{{@root.root}}index.html" aria-label="Home">{{breadcrumb.home.label}}</a></li>

          <li aria-current="">{{breadcrumb.futuresmart.label}}</li>
        </ul>
      </nav>

      <h1 class="color-white" tabindex="0" data-viewport="true">
        {{breadcrumb.futuresmart.label}}
      </h1>
      <h4 class="color-white" tabindex="0" data-viewport="true">

      </h4>
      <a class="button" role="" style="visibility: hidden;"></a>
    </div>
  </div>
</div>



<!--************************* dark intro section with icons *************************  -->

<section class="section" style="background-color: #150235; color: white">
  <div class="grid-container padded" id="toc1">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-12 large-12">
         <p>{{{futuresmart-page.intro.para1}}}</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x padded align-center">
      <div class="cell small-12 medium-6 large-3 text-center">
        <img src="{{@root.root}}assets/img/icons/quantum.png" alt="icon" class="value-icon" />
        <p class="value-description text-center">
          {{{futuresmart-page.intro.icons.quantum}}}
        </p>
      </div>

      <div class="cell small-12 medium-6 large-3 text-center">
        <img src="{{@root.root}}assets/img/icons/automation.png" alt="icon" class="value-icon" />
        <p class="value-description text-center">
          {{{futuresmart-page.intro.icons.automation}}}
        </p>
      </div>

      <div class="cell small-12 medium-6 large-3 text-center">
        <img src="{{@root.root}}assets/img/icons/operations.png" alt="icon" class="value-icon" />
        <p class="value-description text-center">
          {{{futuresmart-page.intro.icons.operation}}}
        </p>
      </div>

      <div class="cell small-12 medium-6 large-3 text-center">
        <img src="{{@root.root}}assets/img/icons/energy.png" alt="icon" class="value-icon" />
        <p class="value-description text-center">
          {{{futuresmart-page.intro.icons.carbon-footprint}}}
        </p>
      </div>
    </div>

    <div class="grid-x grid-padding-x" style="    margin-right: 0px;">
      <div class="cell small-12 medium-12 large-12">
        <p>{{{futuresmart-page.intro.para2}}}</p>
      </div>
    </div>
  </div>

</section>


<!--************************* list with icons *************************  -->

<section class="section padded">

  <div class="grid-container">

    <div class="grid-x grid-margin-x grid-margin-y">

      <!-- People and Culture -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/people-small.svg" alt="icon" width="48" height="48" />
          </div>
          <div>
            <h6 style="color:#5672F6; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
              {{futuresmart-page.subtopics.people-culture.heading}} 
            </h6>
            <p>
               {{futuresmart-page.subtopics.people-culture.copy}} 
            </p>
          </div>
        </div>
      </div>

      <!-- Data, Digital and AI -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/digital-small.svg" alt="icon" width="48" height="48" />
          </div>
          <div>
            <h6 style="color:#5527E2; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
               {{{futuresmart-page.subtopics.digital-data.heading}}}
            </h6>
            <p>
               {{{futuresmart-page.subtopics.digital-data.copy}}}
            </p>
          </div>
        </div>
      </div>

      <!-- Business transformation -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/transformation-small.svg" alt="icon" width="48" height="48" />
          </div>
          <div>
            <h6 style="color:#264BA7; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
              {{{futuresmart-page.subtopics.business-transformation.heading}}}
            </h6>
            <p>
              {{{futuresmart-page.subtopics.business-transformation.copy}}}
            </p>
          </div>
        </div>
      </div>

      <!-- Risk Management -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/risk-small.svg" alt="icon" width="48" height="48" />
          </div>
          <div>
            <h6 style="color:#8359F6; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
               {{{futuresmart-page.subtopics.risk-management.heading}}}
            </h6>
            <p>
              {{{futuresmart-page.subtopics.risk-management.copy}}}
            </p>
          </div>
        </div>
      </div>

      <!-- Commitment to Results -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/results-small.svg" alt="icon" width="30" height="30" style="padding: 0px 5px;" />
          </div>
          <div>
            <h6 style="color:#1010A6; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
              {{{futuresmart-page.subtopics.results.heading}}}
            </h6>
            <p>
              {{{futuresmart-page.subtopics.results.copy}}}
            </p>
          </div>
        </div>
      </div>

      <!-- Transparency and Accountability -->
      <div class="cell small-12 medium-6 large-6">
        <div class="futuresmart-item" style="display: flex; align-items: flex-start; gap: 1.25rem;">
          <div class="futuresmart-icon" style="flex-shrink:0;">
            <img src="{{@root.root}}assets/img/icons/transparency-small.svg" alt="icon" width="48" height="48" />
          </div>
          <div>
            <h6 style="color:#BE72DF; font-weight:700; text-transform:uppercase; margin-bottom:0.5rem;">
               {{{futuresmart-page.subtopics.transparency.heading}}}
            </h6>
            <p> {{{futuresmart-page.subtopics.transparency.copy}}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
