<!-- ************************* Page Hero ************************* -->
<div class="pagehero-full funding-pagehero" data-undpds-component="expandToSize" data-selector=".pagehero-full">
  <div class="overlay-grey">
    <img class="mobile-position-center" src="{{@root.root}}assets/img/cover.jpg" alt="">
  </div>

  <nav aria-label="breadcrumbs" data-viewport="true" class="breadcrumb medium-offset-1">
    <ul>
      <li><a href="{{@root.root}}index.html" aria-label="{{breadcrumbs.home}}">{{breadcrumbs.home}}</a></li>
      <li aria-current="page">{{other-resources-page.hero.title}}</li>
    </ul>
  </nav>

  <div class="pagehero-content medium-offset-1">
    <div class="content-box color-black">
      <h4 tabindex="0" data-viewport="true">
        {{other-resources-page.hero.overline}}
      </h4>
      <h2 tabindex="0" data-viewport="true">
        {{other-resources-page.hero.title}}
      </h2>
    </div>
  </div>
</div>


<!--************************* Other resources overview *************************  -->
<section class="section section-bg-other">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">

        <p>{{other-resources-page.overview.copy1}}</p>
        <p>{{other-resources-page.overview.copy2}}</p>
        <br><br>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-12">
        <h5>{{other-resources-page.overview.contributors-chart}}</h5>
        <div class="echarts" data-chart-type="top-other-resources-contributors" style="width:100%;height:700px;"></div>
      </div>

    </div>

     <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-12">
        <h5>{{other-resources-page.overview.recipients-chart}}</h5>
        <div class="echarts" data-chart-type="top-other-resources-recipients" style="width:100%;height:700px;"></div>
      </div>

    </div>
  </div>
</section>

<!--************************* Thematic funds *************************  -->
<section class="section">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <h2>{{other-resources-page.thematic.heading}}</h2>
        <p>{{other-resources-page.thematic.copy}}</p>
      </div>
      <div class="cell small-12">
        <h5>{{other-resources-page.thematic.chart}}</h5>
        <div class="echarts" data-chart-type="thematic-window-contributions" style="width:100%;height:420px;"></div>

                <div class="echarts padded" data-chart-type="funding-window-contributor-flow" style="width:100%;height:620px;"></div>
      </div>
    </div>


  </div>
</section>

<!--************************* UN pooled funds *************************  -->
<section class="section section-bg-purple">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <h2>{{other-resources-page.pooled.heading}}</h2>
        <p>{{other-resources-page.pooled.copy1}}</p>
        <p>{{other-resources-page.pooled.copy2}}</p>
        <br><br>
          <h5>{{other-resources-page.pooled.top-funds-chart}}</h5>
        <div class="echarts" data-chart-type="top-un-pooled-funds" style="width:100%;height:620px;"></div>

      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y padded">
      <div class="cell small-12 large-6">
        <h5 class="text-center">{{other-resources-page.pooled.member-states-chart}}</h5>
        <div class="echarts" data-chart-type="top-pooled-fund-member-states" style="width:100%;height:520px;"></div>
      </div>
      <div class="cell small-12 large-6">
        <h5 class="text-center">{{other-resources-page.pooled.trend-chart}}</h5>
        <div class="echarts" data-chart-type="pooled-fund-contributions" style="width:100%;height:520px;"></div>
      </div>
    </div>
  </div>
</section>

<!--************************* Government development financing *************************  -->
<section class="section">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12">
        <h2>{{other-resources-page.government.heading}}</h2>
        <p>{{other-resources-page.government.intro}}</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-6">
        <h3>{{other-resources-page.government.total}}</h3>
        <p>{{other-resources-page.government.total-copy}}</p>
      </div>
      <div class="cell small-12 large-6">
        <h3>{{other-resources-page.government.loans}}</h3>
        <p>{{other-resources-page.government.loans-copy}}</p>
      </div>
    </div>

    <br><br>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12">
        <h5 class="text-center">{{other-resources-page.government.country-chart}}</h5>
        <div class="echarts" data-chart-type="government-financing-by-country" style="width:100%;height:850px;"></div>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y align-middle padded">
      <div class="cell small-12 large-5">
        <h3>{{other-resources-page.government.region-heading}}</h3>
        <p>{{other-resources-page.government.region-copy}}</p>
      </div>
      <div class="cell small-12 large-7 align-self-center">
        <h5 style="text-align: center;">{{other-resources-page.government.region-chart}}</h5>
        <div class="echarts" data-chart-type="government-financing-by-region" style="width:100%;height:500px;"></div>
      </div>
    </div>
  </div>
</section>

<!--************************* Vertical funds *************************  -->
<section class="section section-bg-orange">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 large-5">
        <h2>{{other-resources-page.vertical.heading}}</h2>
        <p>{{other-resources-page.vertical.copy1}}</p>
        <p>{{other-resources-page.vertical.copy2}}</p>
      </div>
      <div class="cell small-12 large-7">
        <h5>{{other-resources-page.vertical.chart}}</h5>
        <div class="echarts" data-chart-type="vertical-fund-contributions" style="width:100%;height:460px;"></div>
      </div>
    </div>
  </div>
</section>

<!--************************* Third-party cost-sharing *************************  -->
<section class="section">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <h2>{{other-resources-page.cost-sharing.heading}}</h2>
        <p>{{other-resources-page.cost-sharing.intro}}</p>
      <br><br>
      </div>

       <div class="cell small-12 large-5">
        <h3>{{other-resources-page.cost-sharing.eu-heading}}</h3>
        <p>{{other-resources-page.cost-sharing.eu-copy}}</p>
      </div>

      <div class="cell small-12 large-7">
        <h5>{{other-resources-page.cost-sharing.eu-chart}}</h5>
        <div class="echarts" data-chart-type="eu-contributions-by-region" style="width:100%;height:500px;"></div>
      </div>


    </div>
  </div>
</section>

<!--************************* Financing institutions *************************  -->
<section class="section section-bg-gold">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">


      <div class="cell small-12 large-5">
        <h3>{{other-resources-page.institutions.heading}}</h3>
        <p>{{other-resources-page.institutions.copy1}}</p>
        <p>{{other-resources-page.institutions.copy2}}</p>
      </div>

      <div class="cell small-12 large-7">
        <h5>{{other-resources-page.institutions.total-chart}}</h5>
        <div class="echarts" data-chart-type="ifi-contributions-donut" style="width:100%;height:520px;"></div>
      </div>


    </div>
    <div class="grid-x grid-margin-x grid-margin-y padded">
      <div class="cell small-12 large-6">
        <h5>{{other-resources-page.institutions.type-chart}}</h5>
        <div class="echarts" data-chart-type="ifi-contributions-by-type" style="width:100%;height:420px;"></div>
      </div>
      <div class="cell small-12 large-6">
        <h5>{{other-resources-page.institutions.recipients-chart}}</h5>
        <div class="echarts" data-chart-type="top-ifi-recipient-countries" style="width:100%;height:420px;"></div>
      </div>
    </div>
  </div>
</section>

<!--************************* Private-sector partnerships *************************  -->
<section class="section">
  <div class="grid-container section padded">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">
        <h3>{{other-resources-page.private-sector.heading}}</h3>
        <p>{{other-resources-page.private-sector.copy1}}</p>
        <p>{{other-resources-page.private-sector.copy2}}</p>
      </div>
    </div>
    <div class="grid-x grid-margin-x grid-margin-y padded">
      <div class="cell small-12 large-6">
        <h5>{{other-resources-page.private-sector.contributors-chart}}</h5>
        <div class="echarts" data-chart-type="top-private-sector-contributors" style="width:100%;height:420px;"></div>
      </div>
      <div class="cell small-12 large-6">
        <h5>{{other-resources-page.private-sector.trend-chart}}</h5>
        <div class="echarts" data-chart-type="private-sector-contributions-by-type" style="width:100%;height:420px;"></div>
      </div>
    </div>
  </div>
</section>


<!--************************* UNDS *************************  -->
<section class="section section-bg-teal">

  <div class="grid-container" style="padding-top: 5rem;">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-12 large-12">
        <h3 style="color: #0468B1;">{{{un-system-support.unds.heading}}}</h3>
        <p>{{{un-system-support.unds.copy.para1}}}</p>
      </div>
    </div>
  </div>

</section>

<section class="section unds-highlights center-text-mobile section-bg-other">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y" style="padding: 3rem 0;">

      <!-- Row: UNV -->
      <div class="cell small-12 large-11 large-offset-1">
        <div class="grid-x grid-margin-x align-middle">
          <!-- Logo -->
          <div class="cell small-12 medium-shrink small-text-center medium-text-left">
            <img class="highlight-logo" src="{{@root.root}}assets/img/logos/{{{un-system-support.unds.unv.logo}}}"
              alt="UN Volunteers logo">
          </div>
          <!-- Text -->
          <div class="cell small-12 medium-auto small-text-center medium-text-left">
            <span class="highlight-title" style="color:#009EDB; text-transform: uppercase;">
              {{{un-system-support.unds.unv.title}}}
            </span>
            <p>{{{un-system-support.unds.unv.copy}}}</p>
          </div>
        </div>
      </div>

      <!-- Row: UNCDF -->
      <div class="cell small-12 large-11 large-offset-1">
        <div class="grid-x grid-margin-x align-middle">
          <!-- Logo -->
          <div class="cell small-12 medium-shrink small-text-center medium-text-left">
            <img class="highlight-logo" src="{{@root.root}}assets/img/logos/{{{un-system-support.unds.uncdf.logo}}}"
              alt="UNCDF logo">
          </div>
          <!-- Text -->
          <div class="cell small-12 medium-auto small-text-center medium-text-left">
            <span class="highlight-title" style="color:#2D3D89; text-transform: uppercase;">
              {{{un-system-support.unds.uncdf.title}}}
            </span>
            <p>{{{un-system-support.unds.uncdf.copy}}}</p>
          </div>
        </div>
      </div>

      <!-- Row: UNOSSC -->
      <div class="cell small-12 large-11 large-offset-1">
        <div class="grid-x grid-margin-x align-middle">
          <!-- Logo -->
          <div class="cell small-12 medium-shrink small-text-center medium-text-left">
            <img class="highlight-logo" src="{{@root.root}}assets/img/logos/{{{un-system-support.unds.unossc.logo}}}"
              alt="UNOSSC logo">
          </div>
          <!-- Text -->
          <div class="cell small-12 medium-auto small-text-center medium-text-left">
            <span class="highlight-title" style="color:#2E87C8; text-transform: uppercase;">
              {{{un-system-support.unds.unossc.title}}}
            </span>
            <p>{{{un-system-support.unds.unossc.copy}}}</p>
          </div>
        </div>
      </div>

      <!-- Row: MPTF -->
      <div class="cell small-12 large-11 large-offset-1">
        <div class="grid-x grid-margin-x align-middle">
          <!-- Logo -->
          <div class="cell small-12 medium-shrink small-text-center medium-text-left">
            <img class="highlight-logo" src="{{@root.root}}assets/img/logos/{{{un-system-support.unds.mptf.logo}}}"
              alt="MPTF logo">
          </div>
          <!-- Text -->
          <div class="cell small-12 medium-auto small-text-center medium-text-left">
            <span class="highlight-title" style="color:#009EDB; text-transform: uppercase;">
              {{{un-system-support.unds.mptf.title}}}
            </span>
            <p>{{{un-system-support.unds.mptf.copy}}}</p>
          </div>
        </div>
      </div>


      <!-- Row: Extra copy -->
      <div class="cell small-12 large-11 large-offset-1">
        <div class="grid-x grid-margin-x align-middle">

          <!-- Text -->
          <div class="cell small-12 medium-auto small-text-center medium-text-left">
            <br>
            <p>{{{un-system-support.unds.copy.para2}}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<!-- ********************************************************************************************************************************************************************************  -->
<!-- ********************************************************************************************************************************************************************************  -->


<!-- ********************************************************************************************************************************************************************************  -->


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const statsSwiper = new Swiper('.stats-slider', {
      slidesPerView: "auto",
      centeredSlides: false,
      spaceBetween: 0,
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
      },
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    const readMoreLink = document.getElementById("readMore_foreword");
    const additionalText = document.getElementById("additionalText_foreword");

    if (readMoreLink && additionalText) {
      readMoreLink.addEventListener("click", function (event) {
        event.preventDefault();

        // Toggle the display of the additional text
        if (additionalText.style.display === "none" || additionalText.style.display === "") {
          additionalText.style.display = "block";
          readMoreLink.textContent = "{{buttons.read-less}}"; // Change button text
        } else {
          additionalText.style.display = "none";
          readMoreLink.textContent = "{{buttons.read-more}}"; // Change button text back
        }
      });
    }
  });
</script>
