<!--************************* Cover Hero *************************  -->


<div class="homepage-hero-full" data-undpds-component="expandToSize" data-selector=".homepage-hero-full">

  <div class="overlay-grey">
    <!--- <img src="{{@root.root}}assets/img/cover.jpg" alt="abstract image" />-->

    <video loop muted playsinline autoplay poster="{{@root.root}}assets/img/cover-regular.png">
      <source src="{{@root.root}}assets/img/cover-landscape.png" type="video/mp4">
      Your browser does not support the HTML5 video element
    </video>
  </div>
  <div class="grid-x homepage-hero-content">
    <div class="cell large-7 medium-9 medium-offset-1">

      <!--<
    nav aria-label="breadcrumbs" data-viewport="true" class="breadcrumb white medium-offset-1 inviewport">
      <ul>
        <li><a href="#" aria-label="Home">Home</a></li>
        <li aria-current="Page Title">Funding landscape</li>
      </ul>
    </nav>
    -->

      <h4 class="color-white" tabindex="0" data-viewport="true" style="color: black;">
        UNDP Funding Compendium 2025
      </h4>
      <h1 class="color-white" tabindex="0" data-viewport="true" style="color: black;">
        Regular Resources
      </h1>


      <h4 class="color-white" tabindex="0" data-viewport="true"></h4>
      <a class="button" role="" style="visibility: hidden;"></a>

    </div>
  </div>
</div>

<!---

<div
  class="pagehero-full"
  data-undpds-component="expandToSize"
  data-selector=".pagehero-full"
  data-initialized="expandToSize"
>
  <div class="overlay-grey">
    <img
      class="mobile-position-center"
      alt="{{@root.root}}assets/img/cover.jpg"
      src="{{@root.root}}assets/img/cover.jpg"
    />
  </div>
  <nav
    aria-label="breadcrumbs"
    data-viewport="true"
    class="breadcrumb white medium-offset-1 inviewport"
  >
    <ul>
      <li><a href="#" aria-label="Home">Home</a></li>
      <li><a href="#" aria-label="Second-level">Second-level</a></li>
      <li><a href="#" aria-label="Third-level">Third-level</a></li>
      <li aria-current="Page Title">Page Title</li>
    </ul>
  </nav>
  <div class="pagehero-content medium-offset-1">
    <div class="content-box color-white">
      <h2 class="inviewport" tabindex="0" data-viewport="true">
        The sdgs in action
      </h2>
      <p class="subtitle">
        Subtitle or excerpt of the story goes below and it is two lines
      </p>
    </div>
  </div>
</div>-->


<!--************************* Lion’s share goes to programmes  *************************  -->

<section class="section section-bg-regular">

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-justify align-middle">

      <div class="cell small-12 medium-12 large-4">
        <h4>Lion’s share goes to programmes</h4>
        <br>
        <p>The lion’s share of the core programme budget for 2022–2025 is channelled through country programmes.</p>
      </div>

      <div class="cell small-12 medium-12 large-8">
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="regular-resources-allocation" style="width:100%;height:700px;"></div>
        </div>
        <p class="chart-source">Source: [Add source]</p>

      </div>
    </div>
  </div>

</section>

<!--************************* Strong support for least developed and low-income countries  *************************  -->

<section class="section">

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-justify align-middle">

      <div class="cell small-12 medium-12 large-12">
        <h4>Strong support for least developed and low-income countries</h4>
       
        <p>Over 80 percent of core resources are allocated to least developed countries where development needs are greatest, and over 70 percent to low-income countries.</p>
        <br><br>
      </div>

      <div class="cell small-12 medium-12 large-5">
        <p style="text-align: center;">2022–2025 distribution of regular (core) resources <strong>by development status</strong>, Core: TRAC-1, TRAC-2 and TRAC-3</p>
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="resources-by-development-status" style="width:100%;height:450px;"></div>
        </div>
        <p class="chart-source">Source: DP/2025/23 Annex 1</p>

      </div>

      <div class="cell small-12 medium-12 large-5">
         <p style="text-align: center;">2022–2025 distribution of regular (core) resources <strong>by country typology</strong>, Core: TRAC-1, TRAC-2 and TRAC-3</p>
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="resources-by-country-typology" style="width:100%;height:450px;"></div>
        </div>
        <p class="chart-source">Source: DP/2025/23 Annex 1</p>

      </div>

    </div>
  </div>

</section>


<!--************************* Africa share  *************************  -->

<section class="section section-bg-teal" padded>

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-10" style="text-align: center;" >

                <h4>Africa receives the largest share</h4>
        <p>In line with development needs, the largest share of core resources is allocated to Africa, followed by Asia and the Arab States.</p>

       <br>
       
         <p >2022–2025 distribution of regular (core) resources <strong>by region</strong>
          <br>Core: TRAC-1, TRAC-2 and TRAC-3</p>
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="resources-by-region" style="width:100%;height:200px;"></div>
        </div>
        <p class="chart-source">Source: DP/2025/23 Annex 1</p>
        

      </div>
    </div>
  </div>

</section>


<!--************************* Institutional budget  *************************  -->

<section class="section section-bg-gold" padded>

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-12" style="text-align: center;" >

        <h4>The institutional budget enables programmatic impact</h4>
        <p>UNDP’s institutional budget supports investments in institutional capacity, development effectiveness, the maintenance of the highest levels of independent oversight, transparency and accountability, and special-purpose initiatives (UNV and UNCDF).</p>
<br>
      
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="institutional-budget-allocation" style="width:100%;height:600px;"></div>
        </div>
        <p class="chart-source">Source: DP/2025/23 Table 1</p>
        

      </div>
    </div>
  </div>

</section>


<!--************************* Top core contributors  *************************  -->

<section class="section" padded>

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-12">

        <h4>Top core contributors</h4>
        <p>In 2025, UNDP received $442 million in core contributions, of which 37 percent were backed by multi-year commitments, down from 40 percent in 2024.</p>
<br>
      
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="top-core-contributors" style="width:100%;height:700px;"></div>
        </div>
        <p class="chart-source">*Includes core contributions for 2024 received in 2025<br>
**Includes core contributions for 2026 received in 2025
</p>
        

      </div>
    </div>
  </div>

</section>


<!--************************* 12 partners with multi-year pledges to regular resources *************************  -->

<section class="section section-bg-purple" padded>

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-12">

    
        <h4>12 partners with multi-year pledges to regular resources</h4>
        <p>In 2025, UNDP received $442 million in core contributions, of which 37 percent were backed by multi-year commitments, down from 40 percent in 2024.</p>
<br>
      
      <img src="{{@root.root}}assets/img/pledges.svg"
  alt="12 partners with multi-year pledges to regular resources"
  style="display:block;width:100%;height:auto;">
        

    <div class="chart-wrapper padded">
          <div class="echarts" data-chart-type="multi-year-pledges" style="width:100%;height:900px;"></div>
        </div>

      </div>
    </div>
  </div>

</section>




<!--************************* Map *************************  -->

<section class="section" padded>

  <div class="grid-container section-" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-12" style="text-align: center;" >

        <h4>Contributors to regular resources, 2025</h4>      
        <div class="chart-wrapper">
          <div class="echarts" data-chart-type="regular-resources-contributions-map" style="width:100%;height:900px;"></div>
        </div>
        <p class="chart-source">Source: DP/2025/23 Table 1</p>
        

      </div>
    </div>
  </div>

</section>

<!--************************* 12 partners with multi-year pledges to regular resources *************************  -->

<section class="section section-bg-orange" padded>

  <div class="grid-container section padded" id="" data-magellan-target="">
    <div class="grid-x align-center align-middle">

    

       <div class="padded cell small-12 medium-12 large-12">

    

        <h4>Government contributions to local office costs</h4>
        <p>Annual government contributions to local office costs (GLOC) are an important source of revenue and take the form of cash or in-kind contributions from host governments. In low- and middle-income countries, $39 million was received in 2025 ($29 million in 2024), consisting of $31 million in cash contributions and $8 million of in-kind contributions for premises and utilities.</p>
<br>
      
    <div class="chart-wrapper">
          <div class="echarts" data-chart-type="top-gloc-contributors" style="width:100%;height:900px;"></div>
        </div>

      </div>
    </div>
  </div>

</section>


<!-- ********************************************************************************************************************************************************************************  -->


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const statsSwiper = new Swiper('.stats-slider', {
      slidesPerView: "auto",
      centeredSlides: false,
      spaceBetween: 0,
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
      },
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    const readMoreLink = document.getElementById("readMore_foreword");
    const additionalText = document.getElementById("additionalText_foreword");

    if (readMoreLink && additionalText) {
      readMoreLink.addEventListener("click", function (event) {
        event.preventDefault();

        // Toggle the display of the additional text
        if (additionalText.style.display === "none" || additionalText.style.display === "") {
          additionalText.style.display = "block";
          readMoreLink.textContent = "{{buttons.read-less}}"; // Change button text
        } else {
          additionalText.style.display = "none";
          readMoreLink.textContent = "{{buttons.read-more}}"; // Change button text back
        }
      });
    }
  });
</script>
